.ps2{
    position: relative;
    top: 3rem;
}

.login {
    width: 550px;
    height: 600px;
    background-color: rgba(86, 86, 86, 0.129);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    position: relative;
    top: 2rem;
    border-radius: 20px;
}