:root{
    --darkblue : #000000;
    --darkpurple : #3E065F;
    --mdpurple : #700B97;
    --white : #fff;
    --red:#950101;

}
*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: var(--darkblue);
    width: 100%;
    height: 60px;
    color: var(--white); 
    display: flex;
    flex-direction: row;

}
.rt{
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.lt{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}



.nav{
    background-color: var(--white);
    width: 100%;
    height: 80px;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    width: 100px;

}
a{
    color: var(--white);
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    div.header {
        display: none;


    }
}


/* bvn */


